params {
    // Input data
    fastqDir = '/home/tiba02/HBV/20241008_1407_X3_FBA25176_f02a11fb/test_data'

    // pipeline running parameters
    normalize = 400
    
    // Output directory
    outDir = "$projectDir/hbv_genomes"

    // Primer scheme parameters
    scheme_directory = "${projectDir}/primerschemes"
    scheme_name = 'hbv-600'
    scheme_version = 'V2.1.0L'
    medaka_model = 'r1041_e82_400bps_hac_v4.3.0'
}